<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <ng-content select="grid-action-cmp"></ng-content>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <filter-cmp *ngIf="filterInfo.hasInfo()" (onFilter)="filter($event)"></filter-cmp>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="col-xs-12">
                <div class="row">
                    <table width="100%" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let header of info.headers" [style.width]="header.width+'%'" (click)="sort(header)" [class.sort-able]="header.sortable">{{ header.labelKey | translate}}<span *ngIf="header.name==sortInfo.column" [class]="'fa fa-sort-'+sortInfo.order"></span></th>
                                <th style="min-width:82px;">{{'common.list.action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of activeItems" class="gradeX" [class.odd]="odd" [class.even]="even" [class.selected]="item==selectedItem" (click)="execute('select', item)">
                                <td *ngFor="let header of info.headers">{{item[header.name]}}</td>
                                <td>
                                    <button *ngFor="let b of info.actions" (click)="execute(b.name, item)" type="button" class="{{'btn ' + b.type + ' btn-circle'}}"><i class="{{b.icon}}"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <pagination-cmp [info]="paginationInfo" (onPaging)="paging($event)"></pagination-cmp>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>