.sort-able {
    cursor: pointer;
    position: relative;
}

.sort-able:hover {
    background: #eeeeee;
}

.sort-able:active {
    background: #eeeeee;
}

.sort-able span {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -7px;
}

.selected {
    background-color: #4d90fe !important;
}