

body {
	padding: 0px 0px 0px 0px;
	color: black;
	height: 2000px;
	}


/*---------------------General-----------------*/
ul li {
	display: inline;
}

.anoneunder a {
	text-decoration: none;
}

.ico {
	height: 28px;
	width: 28px;
	margin-left: 3px;
}

.colorb {
	color: black;
}

.colorw {
	color: white;
}

.hoverred:hover {
	color: red;
}

/*--------------------head----------------------------*/

header {
	height: 115px;
	width: 100%;
	background-color: #183546;
}



/*----------tophead---------*/
.tophead {
	height:30px;
	width: 100%;
	background-color: #324551;
	margin-top: 2px;
}



.country {
	background-color: white;
	width: 200px;
	z-index: inherit;
}


.topheadright {
	float: right;
	margin-right: 20px;
}

.shoplogin {
	background-color: #324551;
	border: none;
	border-radius: 2px;
	margin-top: 5px;
}

.shoplogin:hover{
	background-color:  #F37540;
	color: white;
}

.accept {
	float: right;
	margin-right: 5px;
}

.topheadleft {
	float: left;
	margin-left: 20px;
	margin-top: 2px;
}

/*----------mainhead-------------------------------------------------------------------------------------*/
.mainhead {
	width: 100%;
	height: 80px;
}

.contenthead {
	width: 1000px;
	height: 80px;
	margin: 0 auto;
}

.contenthead ul li {
	display: inline;
	margin: 0 auto;
	float: right;
}


.logo {
	width: 50px;
	height:50px;
	float: left;
	margin-left: -100px;
}

.search {
	width: 660px;
	height: 44px;
	border-radius: 3px;
	background-color: #F37540;
	margin: 0 auto;
	margin-right: 50px;
}


.search:hover {
	background-color: #e74c3c;
}


.inputsearch {
	width: 550px;
	margin-left: 5px;
	height: 40px;
	font-size: 20px;
	border-radius: 2px;
	border: none;
	margin-top: 2px;
}

.btsearch{
	height: 44px;
	width: 100px;
	float: right;
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: -30px;
}


	.imgsearch{
		display: none;
	}


.bill {
	height: 50px;
	width: 150px;
	float: right;
	display: inline;
	color: white;
	margin-right:0px;

}


.cartimg {
	height: 45px;
	width: 45px;
	float: left;
	margin-right: 10px;
}

.cart {
	text-decoration: none;
	color: white;
}

.cart:hover {
	color: white;
	text-decoration: none;
}

.productcart {
	margin-top: 4px;
}

.userlogin {
	float:right;
	margin-top: -30px;
}

.userlogin a{
	color: white;
	margin-right: 30px;
}

.userlogin a:hover{
	color: red;
	text-decoration: none
}

@media (max-width: 1200px) { 
	.logo {
		margin-left: -100px; 
	}

	.contenthead {
		width: 900px;
	}
	.search { 
		width: 595px;
		margin-right: 50px;
	}


	.inputsearch {
		width: 495px;
	}

	.btsearch{ 
		width: 90px;
		font-size: 16px;
		margin-top: -30px;
	}

	.bill {
		margin-left: 15%;
	}

}

@media (max-width: 992px) { 
	.logo {
		margin-left: -120px; 
	

	}

	.contenthead {
		width: 700px;
	}
	.search { 
		width: 460px;
		margin: 0 auto;
	}


	.inputsearch {
		width: 390px;
	}

	.btsearch{ 
		width: 70px;
		font-size: 15px;
		margin-top: -30px;
		text-align: center;
	}

	.bill {
		margin-left: 20%;
		margin-right: -10%;
	}

}

@media (max-width: 768px) { 
	.logo {
		width: 32px;
		height: 32px;
		position: absolute;
		left: 120px;
		top: 40px;
	}

	.language {
		margin-left: -10px;
	}
	
	header {
		height: 180px;
	}

	.mainhead {
		height: 150px;
		width: 100%;
	}

	.contenthead {
		height: 150px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}


	.search {
		width: 90%;
		margin:0 auto;
		height: 50px;
		position: absolute;
		top: 60px;
		right: 10px;
		padding-top:3px;
	}


	.inputsearch{
		width: 84%;
	}

	.btsearch {
		width: 16%;
		margin: 0 auto;
	}
	
	.imgsearch {
		display: block;
		width: 32px;
		height: 32px;
		margin-left: 16%;
		margin-top: -35px;

	}

	.textsearch {
		display: none;
	}

	.bill {
		width: 200px;
		height: 50px;
		position: absolute;
		top: 0px;
		right: 5%;
	}

}


/*----------------------------nav-------------------------------------------------------------------------------------------------------------- */

/*---------menu----------*/

.nav {
	height: 40px;
	width: 100%;
	background-color: #EAEAEA;
}

.menu {
	width: 1000px;
	height: 40px;
	margin: 0 auto;	
}

.menu div {
	float:left;
	display: inline;
}

.menuproduct {
	height: 40px;
	width: 215px;
	background-color: #476167;
	padding: 10px 0px 0px 15px;
	margin-left: -90px;
}


.menumain {
	width: 215px;
}

.imgdown{
	height: 32px;
	width: 32px;
}

.navmenu {
	margin-left: 15px;
	text-align: center;	
}


.navmenu div{
	display: inline;
	text-align: center;
}


.menumain {
	margin-left: 390px;
}
.navigation {
	height: 40px;
	width: 150px;
	color: #585858;
	font-size: 18px;
	padding-top: 8px;
	text-align: center;
}

.navigation:hover {
	background-color: #A8A8A8;
	color: white;
}

.navigation div{
	margin: 0 auto;
}


.news {
	text-align: justify;
}

.line {
	height: 40px;
	width: 1px;
	float: left;
}


.banner {
	width: 100%;
	height: 400px;
	background-image: url("../web/images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

.mobi {
	display: none;
}



@media (max-width: 1200px) { 
	.menu {
		width: 900px;
	}
	.menuproduct { 
		width: 170px;
		margin-left: -70px;
		font-size: 12px;
	}
	
	.menubt {
		margin-top: 3px;
	}

	.navigation { 
		width: 130px;
	}

	.imgdown{ 
		width: 23px;
		height: 23px;
	}

	.navmenu {
		margin-left: 10px;	
	}
	

}


@media (max-width: 992px) { 
	.menu {
		width: 700px;
	}
	.menuproduct { 
		width: 120px;
		margin-left: -40px;
		font-size: 12px;
	}
	
	.menubt {
		margin-top: -6px;
	}

	.navigation { 
		width: 105px;
	}

	.imgdown{
		display: none;
	}

	.navmenu {
		margin-left: 10px;	
	}


}


@media (max-width: 768px) { 
	
	.menuproduct {
		margin-left: 0px;
	}
	
	.mobi {
		display: block;
		margin-top: -400px;
	}

	.navbar-header {
		background-color: none;
	}

	.container-fluid {
		background-color: none;
	}

	.active {
		background-image: none;
		background-repeat: no-repeat;
	}

	#myNavbar {
	height: 300px;
	width: 100%;
	}

	#myNavbar span {
		float: left;
	}

	.mn {
		font-size: 25px;
		color: white;
		margin-top: 10px;
		margin-left: 20px;
	}

}


/*---------------------------section-------------------------------- */

section {

	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background-color: grey;
	position: relative;
}



/*----------------------------------------aside----------------------------------------------------*/

.leftside {
	width: 300px;
	height: 100%;
	border: 1px solid red;
	float: left;
}


.adv1 {
	width: 300px;
	height: 250px;
	background-image:url(../images/adv1.gif);
}


.featuredproducts {
	width: 300px;
	height: 660px;
	background-color: grey;
	}

.product {
	width: 100%;
	height: 100px;
}

.adv2 {
	width: 300px;
	height: 600px;
	background-image:url(../images/adv2.jpg);
}


@media (max-width: 1200px) { 
	.leftside {
	width: 250px;
	}

	.adv1 {
		width: 250px;
		height: 250px;
		background-image:url(../images/adv3.jpg);
		background-size: cover;
	}


	.featuredproducts {
		width: 250px;
		height: 550px;
		background-color: grey;
	}
	
	.adv2 {
		width: 240px;
		height: 400px;
		background-image:url(../images/adv4.jpg);
		background-size: cover;
	}
}

@media (max-width: 992px) { 
	.leftside {
	width: 180px;
	}

	.adv1 {
		width: 180px;
		height: 150px;
		background-image:url(../images/adv5.gif);
		background-size: cover;
	}


	.featuredproducts {
		width: 180px;
		height: 390px;
		background-color: grey;
	}
	
	.adv2 {
		width: 160px;
		height: 600px;
		background-image:url(../images/adv6.jpg);
		background-size: cover;
	}
}

@media (max-width: 768px) { 
		.leftside {
			display: none;
		}

		.adv1 {
			display: none;
		}

		.featuredproducts{
			display: none;
		}

		.adv2 {
			display: none;
		}
	}



/*-------------------------------------main------------------------------------*/
.main {
	width: 75%;
	height: 100%;
	float: left;
	position: absolute;
	right: 0px;
	top: 0px;
}


.product tr td {
	height: 325px;
	width: 225px;
	margin-top: 2px;
	margin-left: 2px;
}


/*--------------------------------------footer------------------------------------------------------ */

footer {
	height: 200px;
	width: 100%;
	background-color: #183546;
	color: white;
	margin-bottom: 0px;

	}
