<wrapper [info]="pageInfo">
    <!-- page header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'permission.list.title' | translate}}</h1>
        </div>
    </div>


    <!-- page content -->
     <div class="panel-body">
        <div class="row">
            <div class="form-group col-lg-12">
                <div class="col-lg-2">{{ 'account.list.branch' | translate}}</div>
                <input class="col-lg-3" required [(ngModel)]="model.branch" name="branch" >
            </div>
            <div class="form-group col-lg-12">
                <div class="col-lg-2">{{ 'account.list.name' | translate}}</div>
                <input class="col-lg-3" required [(ngModel)]="model.name" name="name" >
            </div>
            <div class="form-group col-lg-12">
                <div class="col-lg-2">{{ 'account.list.loginName' | translate}}</div>
                <input class="col-lg-3" required [(ngModel)]="model.loginName" name="loginName" >
            </div>
        </div>
         <hr>
     </div>
    
     <div class="panel-body">
        <div class="form-group col-lg-12">
            <div class="col-lg-4">permission.list.permission</div>
            <select class="col-lg-4" >
                <option *ngFor="let item of permissionGroupNew">{{item.nameGroup}}</option>
            </select>
        </div>
        <hr>
        <div class="col-lg-6" *ngFor="let item of permissionNews">
            <div class="form-group">
                <input class="col-lg-1" type="checkbox"/>
                <div class="col-lg-11">{{item.name}} </div>     
            </div>
        </div>
     </div>
    <div class="row">
        <button>Save</button>
        <button>Resert</button>
    </div>
                
    <div class="row">
        <a class="btn btn-default" (click)="onBack()"><i class="glyphicon glyphicon-arrow-left"></i></a>
    </div>
</wrapper>