<ul class="pagination">
    <li class="paginate_button"><a href="#" class="glyphicon glyphicon-refresh"></a></li>
    <li class="paginate_button frist"><a href="#" class="glyphicon glyphicon-step-backward"></a></li>
    <li class="paginate_button previous"><a href="#" class="glyphicon glyphicon-triangle-left"></a></li>
    <li class="paginate_button active"><a href="#">1</a></li>
    <li class="paginate_button"><a href="#">2</a></li>
    <li class="paginate_button"><a href="#">3</a></li>
    <li class="paginate_button"><a href="#">4</a></li>
    <li class="paginate_button"><a href="#">5</a></li>
    <li class="paginate_button next"><a href="#" class="glyphicon glyphicon-triangle-right"></a></li>
    <li class="paginate_button last"><a href="#" class="glyphicon glyphicon-step-forward"></a></li>
</ul>