<ul class="nav" id="side-menu">
  <header-search></header-search>
  <li>
    <a [routerLink]="['/home']"><i class="fa fa-dashboard fa-fw"></i> Tong Quan</a>
  </li>
  <li>
    <a [routerLink]="['/home']"><i class="fa fa-dashboard fa-fw"></i> Ban Hang</a>
  </li>
  <li>
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Kho Hang<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/home']">Nhap mua</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Nhap tra hang</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Xuat tra hang</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Dieu chuyen</a>
      </li>
      <li>
        <a [routerLink]="['/home']"> Kiem ke</a>
      </li>
    </ul>
  </li>
  <li>
    <a href=""><i class='fa fa-wrench fa-fw'></i> Tien<span class='fa arrow'></span></a>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/home']">Thu chi</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Ket ca</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Dieu chinh tien trong ket</a>
      </li>
    </ul>
  </li>
  <li>
    <a href=""><i class='fa fa-wrench fa-fw'></i> Doi tac<span class='fa arrow'></span></a>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/customer']">Khach hang</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Nha cung cap</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Dieu chinh tien trong ket</a>
      </li>
    </ul>
  </li>
  <li>
    <a [routerLink]="['/blank']"><i class="fa fa-bar-chart-o fa-fw"></i> Bao cao<span></span></a>
  </li>
  <li>
    <a href=""><i class='fa fa-wrench fa-fw'></i> Thiet lap<span class='fa arrow'></span></a>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/home']">Cua hang</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Kho hang</a>
      </li>
      <li>
        <a [routerLink]="['/home']">San pham</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Don vi tinh</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Thong tin hoa don</a>
      </li>
    </ul>
  </li>
  <li>
    <a href=""><i class='fa fa-wrench fa-fw'></i> Tai khoan<span class='fa arrow'></span></a>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/home']">Danh sach tai khoan</a>
      </li>
      <li>
        <a [routerLink]="['/home']">Phan quyen</a>
      </li>
    </ul>
  </li>
  <li>
    <a [routerLink]="['/blank']"><i class="fa fa-bar-chart-o fa-fw"></i> Blank<span></span></a>
  </li>
</ul>